<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/verify-otp" method="post">
        <input type="text" name="otp" placeholder="Enter OTP"  />
        <input type="hidden" name="datetime" value="" />
        <!-- <div><img src="/a.gif" /></div>
        <input type="text" name="captcha" placeholder="Enter Captcha" /> -->
        <input type="submit" value="submit" name="submit" />
    </form>

</body>
</html>